<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Leaderboard</title>
</head>
<body>

  <h1>Leaderboard</h1>

   <ol >

    <% @records.each do |team| %>
      <li><a href= <%= "/leaderboard/#{team[0]}" %> ><%= "#{team[0]}" %></a> <%= " - Wins: #{team[1][:Wins]}, Losses: #{team[1][:Losses]}" %></li>

    <% end %>

    </ol>



</body>
</html>
