<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Leaderboard</title>
  <link rel="stylesheet" href="leaderboard.css" />
</head>
<body>

  <a href="/leaderboard"><h1>Leaderboard</h1></a>
  <div class="content">
   <ol class="leaderboard-contents">

    <% @records.each do |team| %>
      <li><span class="team-name"><strong><a href= <%= "/leaderboard/#{team[0]}" %> ><%= "#{team[0]}" %></a></strong></span> <%= " - Wins: #{team[1][:Wins]}, Losses: #{team[1][:Losses]}" %></li>

    <% end %>

    </ol>

  </div>
</body>
</html>
